@import './wap/index.scss';
@import 'APlayer/dist/APlayer.min.css';
body {
  font-family:PingFang SC;
  width: 750px;
  background: #fff;
  .wrap{
    margin-bottom:120px;
    .g-banner {
      width: 100%;
      height: 422px;
      background: url('../imgs/banner.png') center center no-repeat;
      background-size: cover;
    }
  /*
  .g-desc {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    .para {
      line-height: 40px;
      font-size: 28px;
      text-indent: 2em;
      color: #333;
    }
  }
  .line {
    width: 100%;
    height: 10px;
    background: #eef1f6;
  }
  .g-tags {
    width: 100%;
    padding: 20px 30px 10px;
    box-sizing: border-box;
    &.fixed {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      background: #fff;
    }
    .list-wrap {
      display: flex;
      flex-wrap: wrap;

      width: 100%;
      box-sizing: border-box;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        flex: 0 0 200px;
        height: 60px;
        margin: 0 10px 14px;
        border-radius: 60px;
        border: 1px solid #ccc;
        &:active {
          background: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  */
    .g-swiper {
      width: 100%;
      padding: 0 20px;
      margin:20px 0;
      box-sizing: border-box;

      .swiper-container {
        width: 100%;
        height: 120px;
        border-radius: 6px;
        overflow: hidden;
        box-sizing: border-box;
        .swiper-slide {                
          border-radius:10px;
          text-align: center;
          &>div {
            border-radius:10px;
            width:210px;
            height:120px;
            font-family:PingFang SC;
            background:rgba(242,242,242,1);
            .sort_num {
              height:60px;
              font-size:30px;
              font-family:PingFang SC;
              font-weight:bold;
              color:rgba(102,102,102,1);
              line-height:80px;
            }
            .title {
              height:60px;
              font-size:26px;  
              font-weight:500;
              color:rgba(102,102,102,1);
              line-height:60px;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }
          }        
          .active {
            background:rgba(255,233,213,1);
            .sort_num {
              color:rgba(252,111,9,1);
            }
            .title {
              color:rgba(252,111,9,1);
            }
          }
          
        }
      }
    }
    .audio {
      margin:40px;
      .title {
        height:30px;
        font-size:26px;
        font-weight:500;
        color:rgba(34,34,34,1);
        line-height:33px;
        position: relative;
        span {
          display: inline-block;
          width:50px;
          height:1px;
          background:rgba(170,170,170,1);
          position: absolute;
          top:50%;
          left:118px;
        }
      }
      #aplayer {
        margin-top:30px;
        .aplayer-pic {
          width:120px;
          height:120px;
          .aplayer-button.aplayer-play {
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            bottom: 50%;
            right: 50%;
            margin: 0 -20px -20px 0;
            svg {
              position: absolute;
              top: 0px;
              left: 3px;
              height: 40px;
              width: 40px;
            }
          }
        }
        .aplayer-info {
          background:rgba(238,238,238,1);
          margin-left: 120px;
          padding: 30px 0 0 20px;
          height: 120px;
          box-sizing: border-box;
          .aplayer-music {
            height:40px;
            line-height:40px;
            font-size:30px;
            font-family:PingFang SC;
            font-weight:500;
            color:rgba(34,34,34,1);
            margin: 0 0 5px 0px
          }
      }
    }
      
      /*
      .content {
        margin-top:30px;
        display: flex;
        justify-content: flex-start;
        .left {
          width:120px;
          height:120px;
          position: relative;
          .cover {
            position: absolute;
            top:0;
            left:0;
            width:120px;
            height:120px;
            background:rgba(0,0,0,1);
            opacity:0.5;
            img{
              width:40px;
              height:40px;
              position: absolute;
              top:38px;
              left:40px;
              z-index:2;
            }
          }
        }
        .right {
          width:550px;
          height:120px;
          background:rgba(238,238,238,1);
        }
      }
      */
    }
    .lyarc {
      margin:0 auto;
      .text{
        margin:0 auto;
        width:528px;
        height:124px;
        font-size:30px;
        font-family:PingFang SC;
        font-weight:500;
        color:rgba(34,34,34,1);
        line-height:42px;
        text-align: center;
        overflow:hidden;
      }
      .btn {
        margin:40px auto 10px ;
        width:150px;
        height:30px;
        font-size:26px;
        font-family:PingFang SC;
        font-weight:500;
        color:rgba(153,153,153,1);
        .up {
          display:inline-block;
          width:17px;
          height: 10px;
          margin:5px 0 5px 4px;
          background: url('../imgs/up.png') center center no-repeat;
          background-size: contain;
        }
        .down {
          display:inline-block;
          width:17px;
          height: 10px;
          margin:5px 0 5px 4px;
          background: url('../imgs/down.png') center center no-repeat; 
          background-size: contain;
        }
      }
    }
  }
  .foot_btn {
    position:fixed;
    bottom:0;
    left:0;
    z-index:2;
    width:100%;
    height:100px;
    border-top:1px solid rgba(242,242,242,1);
    background:rgba(255,255,255,1);
    // clear:both;
    display: flex;
    justify-content: space-around;
    .btn {
      width:300px;
      height:80px;
      border:2px solid rgba(252,111,9,1);
      border-radius:10px;
      // float:left;
      font-size:30px;
      font-family:PingFang SC;
      font-weight:bold;
      color:rgba(252,111,9,1);
      line-height:80px;
      text-align: center;
      margin: 10px 30px 0 30px;
      background:#fff;
      position:relative;
      .voice {
        display:inline-block;
        width:30px;
        height:34px;
        background:url('../imgs/voice.png') center center no-repeat;
        background-size: cover;
        // vertical-align: middle;
        margin: 0 10px;
        position: absolute;
        top:20px;
        left:54px;
      }
    }
    .btn2 {
      background:rgba(252,111,9,1);
      color:#fff;
    }
  }
  .cover{
    width:100%;
    height:100%;
    position: fixed;
    z-index:8;
    top:0;
    left:0;
    background:rgba(0,0,0,.5);
    .dialog {
      width:50%;
      height:150px;
      position:fixed;
      top:50%;
      left:50%;
      margin:-150px 0 0 -25%;
      z-index:9;
      background:rgba(255,233,213,1);
      font-size:30px;
      font-family:PingFang SC;
      font-weight:bold;
      color:rgba(252,111,9,1);
      border-radius: 5px;
      text-align: center;
      line-height: 150px;
    }
  }
  .hide {
    display:none;
  }
  
  /*
  .g-bd {
    width: 100%;
    margin-top: 16px;
    box-sizing: border-box;
    .m-bd {
      width: 100%;
      .title {
        width: 100%;
        height: 56px;
        line-height: 56px;
        padding: 0 20px;
        box-sizing: border-box;
        background: #eef1f6;
        .icon {
          vertical-align: middle;
          display: inline-block;
          width: 10px;
          height: 24px;
          background: #c3181f;
        }
        .name {
          vertical-align: middle;
          margin-left: 4px;
          font-size: 24px;
          font-weight: bold;
        }
      }
      .list-wrap {
        width: 100%;
        padding: 0 20px 40px;
        box-sizing: border-box;
        .link {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 153px;
          border-bottom: 1px solid #e1e1e1;
          padding-bottom: 20px;
          margin-top: 20px;
          &:last-child {
            border-bottom: none;
          }
          .img-wrap {
            flex: 0 0 204px;
            width: 204px;
            height: 153px;
            font-size: 0;
            .img {
              width: 204px;
              height: 153px;
            }
          }
          .text-wrap {
            flex: 0 0 476px;
            width: 476px;
            height: 153px;
            display: flex;
            padding: 6px 0;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            .name {
              font-size: 30px;
              line-height: 42px;
              color: #232323;
            }
            .from {
              font-size: 24px;
              color: #828282;
            }
          }
        }
      }
    }
  }
  .g-ft {
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    .version {
      font-size: 28px;
    }
    .copy {
      margin-top: 12px;
      font-size: 26px;
    }
  }
  */
}
